@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper_one {
  min-width: 0;
  :global(.swiper-wrapper) {
    text-align: center;
  }
}

.swiper_two {
  min-width: 0;
  position: absolute;
  left: 200px;
  right: 200px;
  bottom: 0;
  padding: 20px;
  padding-left: 80px;
  @include media-breakpoint-only(xs) {
    position: static;
  }

  :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      display: inline-block;
      border-top: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: rotate(45deg);
    }
  }

  :global(.swiper-button-prev) {
    width: 40px;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      display: inline-block;
      border-top: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: rotate(225deg);
    }
  }
}
