@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper_main {
  height: 80%;
  display: flex;
  align-items: flex-end;
}

.wrapper {
  width: 100px;
}

.swiper_one {
  min-width: 0;
  :global(.swiper-wrapper) {
    text-align: center;
  }
}

.swiper_two {
  @include media-breakpoint-only(xs) {
    position: static;
  }

  :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      display: inline-block;
      border-top: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: rotate(45deg);
    }
  }

  :global(.swiper-button-prev) {
    width: 40px;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      display: inline-block;
      border-top: 2px solid $blue;
      border-right: 2px solid $blue;
      transform: rotate(225deg);
    }
  }
}

.p_date {
  color: $blue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 120%;
}

.p_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;

  color: $font-color;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.p_into_swiper_start,
.p_into_swiper_end {
  font-weight: 700;
  font-size: 10vw;
  width: 100%;
  margin-bottom: 200px;
}

.p_into_swiper_start {
  color: $iris;
}

.p_into_swiper_end {
  color: $pink;
}

.pagination {
  text-align: center;
}
