@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 70px;
  h1 {
    font-weight: 700;
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 120%;
    color: $font-color;
    width: 353px;
    @include media-breakpoint-only(xs) {
      font-weight: 700;
      font-size: 30px;
      line-height: 120%;
      width: 123px;
    }
  }

  .line {
    width: 5px;
    height: 120px;
    background: linear-gradient(#3877ee, #ef5da8);
    @include media-breakpoint-only(xs) {
      display: none;
    }
  }
}
