@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper_btn {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @include media-breakpoint-only(xs) {
    width: 58.33px;
    height: 49.67px;
  }
}
