@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper_line_vertical {
  display: flex;
  justify-content: space-between;
  grid-area: 1 / 1;
  height: 100%;
  padding: 0px 160px 0px 160px;
  @include media-breakpoint-only(xs) {
    display: none;
  }
  
  .line_vertical {
    width: 1px;
    background-color: $line;
    opacity: 0.1;
  }
}
