@import 'styles/color.scss';
@import 'styles/mixins.scss';

.wrapper {
  @include media-breakpoint-only(xs) {
    display: none;
  }
  .cicle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid $line;
    opacity: 0.2;
  }
}
